<div id="PgProfil" class="profil">
        <div class="profil-content ">
            <div class="nom">
                <i class="fas fa-user-circle img" ></i>
                <p><%= userdb.nomUser %> <%= userdb.prenomUser %></p>
            </div>
            <div class="info-content ">
                  <div class="i">
                    <div class="in">
                        <p>Info Général</p>
                    </div>
                    <div class="txt">
                        <div class="papay">
                            <p>Genre: <span><%= userdb.genre %></span></p>

                            <p class="p">Adresse: <span><%= userdb.adress %></span></p>  
                            
                            <p>Numéro Phone: <span><%= userdb.phone %></span></p> 
                            <p>Adresse email: <span><%= userdb.gmail %></span></p> 
                        </div>
                    </div>
                  </div>
                  <div class="i">
                    <div class="in">
                        <p>Filière et Classe</p>
                    </div>
                    <div class="txt">
                        <div class="papay">
                            <p>Filière: <span><%= userdb.filiere %></span></p>
                            <p class="p">Classe: <span><%= userdb.classe %></span></p>  
                            
                            <p>Numéro en Classe: <span><%= userdb.numInClass %></span></p> 
                            <p>Matricule: <span><%= userdb.matricule %></span></p> 
                        </div>
                    </div>
                  </div>
                  <div class="i">
                    <div class="in">
                        <p>Père</p>
                    </div>
                    <div class="txt">
                        <div class="papay">
                            <p>Nom : <span><%= userdb.nomPere %></span></p>
                            <p>Prénom : <span><%= userdb.prenomPere %></span></p>
                            <p>Proffesion: <span><%= userdb.fonctPere %></span></p> 
                            <p class="p">Adresse: <span><%= userdb.adressPere %></span></p>  
                        </div>
                    </div>
                  </div>
                  <div class="i final">
                    <div class="in">
                        <p>Mère</p>
                    </div>
                    <div class="txt">
                            <div class="papay">
                                <p>Nom : <span><%= userdb.nomMere %></span></p>
                                <p>Prénom : <span><%= userdb.prenomMere %></span></p>
                                <p>Proffesion: <span><%= userdb.fonctMere %></span></p> 
                                <p class="p">Adresse: <span><%= userdb.adressMere %></span></p>  
                        </div>
                    </div>
                  </div>
            </div>  
        </div>
        <!-- <div class="profil-info">
           <div class="pro">
                <div class="pro1">Les Informations Médicales</div>
                <div class="pro2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, delectus! Voluptate dignissimos explicabo possimus tempore atque accusamus laborum itaque, dolorum laboriosam necessitatibus. Repellendus totam sapiente alias quam quas in mollitia!</div>
                <div class="pro3"><span>Validé</span></div>
           </div> 
           <div class="pro">
                <div class="pro1">Antécédents scolaire</div>
                <div class="pro2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, sapiente? Ut dignissimos quis eius! Ipsum eum pariatur obcaecati explicabo, excepturi quas veniam velit amet perferendis sapiente aliquid aperiam! Qui, delectus!</div>
             
            </div> 
            <div class="pro">
                <div class="pro1">Remarques des Proffesseurs</div>
                <div class="pro2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, odio modi sequi amet optio assumenda fuga, officia numquam delectus labore a eius exercitationem itaque porro eligendi dolorum placeat esse veniam.</div>
           </div> 
        </div> -->
    </div>